<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionslab20220924121633.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1762835d-0458-4cd9-8bd3-dd22682ddb4d/resourcegroups/irvinedemos-rg/providers/Microsoft.Web/sites/FunctionsLab20220924121633</ResourceId>
    <UserName>$FunctionsLab20220924121633</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionslab20220924121633.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>